<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin</title>
</head>
<body>
    <h1> Admin site </h1>
    <a href="{{ url_for('new') }}"> Thêm </a>
    <table border="1px">
        <thead>            
            <th>STT</th>
            <th>Name</th>
            <th>yob</th>
            <th>gender</th>
            <th>height</th>
            <th>phone</th>
            <th>address</th>
            <th>status</th> 
            <th>Số đo</th>
            <th>Mô tả</th>         
        </thead>
        <tbody>
            {% for service in all_service %} 
                <tr>
                    <td>{{loop.index}}</td> 
                    <td>{{service.name}}</td>
                    <td>{{service.yob}}</td>
                    <td>
                        {{"Nữ" if service.gender == 0 else "Nam"}}
                    </td>
                    <td>{{service.height}}</td>
                    <td>{{service.phone}}</td>
                    <td>{{service.address}}</td>
                    <td>
                        {{"Rảnh" if service.status else "Bận"}}
                    </td>
                    <td>{{service.measurements}}</td>
                    <td>{{service.description</td>
                    <td>                        
                        <a href="">Sửa</a>
                        <a href="{{url_for('delete', service_id = service.id)}}">Xóa</a>
                    </td>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>