<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chi tiết</title>
</head>
<body>
    <img src="{{service.image}}">
    <h3>{{service.name}}</h3>
    <p>Năm sinh: {{service.yob}}</p>
    <p>SĐT: {service.phone}}</p>
    <p>Địa chỉ: {{service.address}}</p>
    <p>Mô tả: {{service.description}}</p>
    <p>Số đo 3 vòng: {{service.measurements}}</p>
</body>
</html>