<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>MÙA ĐÔNG KHÔNG LẠNH</h1>
    <a href="{{ url_for("search",gender=1)}}">Chạm vào anh đi !</a>
    <a href="{{url_for("search",gender=0)}}">Chạm vào em đi !</a>
    <a href="{{url_for("customer",status=False)}}">khách hàng chưa liên lạc !</a>
    <a href="{{url_for("admin")}}">admin</a>
</body>
</html>