<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>add</h1>
    <form method="POST">
        <label>Tên</label>  
        <input type="text" name="name" placeholder="Tu Linh">

        <label>Yob</label>
        <input type="text" name="yob" placeholder="1996">

        <label>Địa chỉ</label>
        <input type="text" name="address">

        <label><input type='radio' name="gender" value='0'> Nữ </label>
        <label><input type='radio' name="gender" value='1'> Nam</label>

        <button type="submit">Gửi</button>
    </form>
</body>
</html>